[Unit]
Description=uWSGI instance to serve myproject
After=network.target

[Service]
User=ubuntu
Group=admin
WorkingDirectory=/home/ubuntu/ReadDiabetesReports
Environment="PATH=/home/ubuntu/ReadDiabetesReports/venv/bin"
ExecStart=/home/ubuntu/ReadDiabetesReports/venv/bin/uwsgi --ini diabetesreportreader.ini

[Install]
WantedBy=multi-user.target

/home/ubuntu/ReadDiabetesReports

sudo nano /etc/apache2/sites-enabled/000-default.conf

WSGIDaemonProcess ReadDiabetesReports threads=5
WSGIScriptAlias / /var/www/html/ReadDiabetesReports/app.wsgi

<Directory ReadDiabetesReports>
	WSGIProcessGroup ReadDiabetesReports
	WSGIApplicationGroup %{GLOBAL}
	Order deny,allow
	Allow from all
</Directory>